    {
        "cpp-extra-args": "-Ibc -I. -Ih",
	"val": true,
	"val-profile": "interpreter",
        "files": [
            //"tis-mock.c",
            // "dc/numeric.c",
            // "dc/stack.c",
            // "dc/misc.c",
            // "dc/array.c",
            // "dc/eval.c",
            // "dc/dc.c",
            // "dc/string.c",
            "lib/tis-mock.c",
            "lib/number.c",
            // "lib/testmul.c",
            "lib/vfprintf.c",
            "lib/getopt.c",
            "lib/getopt1.c",
            "bc/global.c",
            "bc/util.c",
            "bc/execute.c",
            "bc/bc.c",
            "bc/scan.c",
            "bc/load.c",
            "bc/warranty.c",
            "bc/main.c",
            "bc/storage.c"
        ]/*,
	"no-results": true*/
    }
