[
    {
        "filesystem": {
            "files": [
                {
                    "from": "afl-out/crashes/id:000000,sig:11,src:000002,op:ext_AO,pos:182",
                    "name": "tis-mkfs-stdin"
                }
            ]
        },
        "include": "tis-common.config",
        "name": "id:000000,sig:11,src:000002,op:ext_AO,pos:182",
        "val-args": " -l"
    },
    {
        "filesystem": {
            "files": [
                {
                    "from": "afl-out/crashes/id:000001,sig:11,src:000002,op:ext_AO,pos:190",
                    "name": "tis-mkfs-stdin"
                }
            ]
        },
        "include": "tis-common.config",
        "name": "id:000001,sig:11,src:000002,op:ext_AO,pos:190",
        "val-args": " -l"
    },
    {
        "filesystem": {
            "files": [
                {
                    "from": "afl-out/crashes/id:000002,sig:11,src:000002,op:ext_AO,pos:198",
                    "name": "tis-mkfs-stdin"
                }
            ]
        },
        "include": "tis-common.config",
        "name": "id:000002,sig:11,src:000002,op:ext_AO,pos:198",
        "val-args": " -l"
    },
    {
        "filesystem": {
            "files": [
                {
                    "from": "afl-out/crashes/id:000003,sig:11,src:000002,op:havoc,rep:8",
                    "name": "tis-mkfs-stdin"
                }
            ]
        },
        "include": "tis-common.config",
        "name": "id:000003,sig:11,src:000002,op:havoc,rep:8",
        "val-args": " -l"
    },
    {
        "filesystem": {
            "files": [
                {
                    "from": "afl-out/crashes/id:000004,sig:11,src:000002,op:havoc,rep:4",
                    "name": "tis-mkfs-stdin"
                }
            ]
        },
        "include": "tis-common.config",
        "name": "id:000004,sig:11,src:000002,op:havoc,rep:4",
        "val-args": " -l"
    },
    {
        "filesystem": {
            "files": [
                {
                    "from": "afl-out/crashes/id:000005,sig:11,src:000004,op:ext_AO,pos:15",
                    "name": "tis-mkfs-stdin"
                }
            ]
        },
        "include": "tis-common.config",
        "name": "id:000005,sig:11,src:000004,op:ext_AO,pos:15",
        "val-args": " -l"
    },
    {
        "filesystem": {
            "files": [
                {
                    "from": "afl-out/crashes/id:000006,sig:11,src:000004,op:ext_AO,pos:245",
                    "name": "tis-mkfs-stdin"
                }
            ]
        },
        "include": "tis-common.config",
        "name": "id:000006,sig:11,src:000004,op:ext_AO,pos:245",
        "val-args": " -l"
    },
    {
        "filesystem": {
            "files": [
                {
                    "from": "afl-out/crashes/id:000007,sig:11,src:000004,op:ext_AO,pos:330",
                    "name": "tis-mkfs-stdin"
                }
            ]
        },
        "include": "tis-common.config",
        "name": "id:000007,sig:11,src:000004,op:ext_AO,pos:330",
        "val-args": " -l"
    },
    {
        "filesystem": {
            "files": [
                {
                    "from": "afl-out/crashes/id:000008,sig:11,src:000004,op:ext_AO,pos:466",
                    "name": "tis-mkfs-stdin"
                }
            ]
        },
        "include": "tis-common.config",
        "name": "id:000008,sig:11,src:000004,op:ext_AO,pos:466",
        "val-args": " -l"
    },
    {
        "filesystem": {
            "files": [
                {
                    "from": "afl-out/crashes/id:000009,sig:11,src:000004,op:ext_AO,pos:551",
                    "name": "tis-mkfs-stdin"
                }
            ]
        },
        "include": "tis-common.config",
        "name": "id:000009,sig:11,src:000004,op:ext_AO,pos:551",
        "val-args": " -l"
    },
    {
        "filesystem": {
            "files": [
                {
                    "from": "afl-out/crashes/id:000010,sig:11,src:000259,op:ext_AO,pos:198",
                    "name": "tis-mkfs-stdin"
                }
            ]
        },
        "include": "tis-common.config",
        "name": "id:000010,sig:11,src:000259,op:ext_AO,pos:198",
        "val-args": " -l"
    },
    {
        "filesystem": {
            "files": [
                {
                    "from": "afl-out/crashes/id:000011,sig:11,src:000314,op:ext_AO,pos:182",
                    "name": "tis-mkfs-stdin"
                }
            ]
        },
        "include": "tis-common.config",
        "name": "id:000011,sig:11,src:000314,op:ext_AO,pos:182",
        "val-args": " -l"
    },
    {
        "filesystem": {
            "files": [
                {
                    "from": "afl-out/crashes/id:000012,sig:11,src:000329,op:ext_AO,pos:198",
                    "name": "tis-mkfs-stdin"
                }
            ]
        },
        "include": "tis-common.config",
        "name": "id:000012,sig:11,src:000329,op:ext_AO,pos:198",
        "val-args": " -l"
    },
    {
        "filesystem": {
            "files": [
                {
                    "from": "afl-out/crashes/id:000013,sig:11,src:000330,op:ext_AO,pos:198",
                    "name": "tis-mkfs-stdin"
                }
            ]
        },
        "include": "tis-common.config",
        "name": "id:000013,sig:11,src:000330,op:ext_AO,pos:198",
        "val-args": " -l"
    },
    {
        "filesystem": {
            "files": [
                {
                    "from": "afl-out/crashes/id:000014,sig:11,src:000336,op:ext_AO,pos:182",
                    "name": "tis-mkfs-stdin"
                }
            ]
        },
        "include": "tis-common.config",
        "name": "id:000014,sig:11,src:000336,op:ext_AO,pos:182",
        "val-args": " -l"
    },
    {
        "filesystem": {
            "files": [
                {
                    "from": "afl-out/crashes/id:000015,sig:11,src:000347,op:ext_AO,pos:182",
                    "name": "tis-mkfs-stdin"
                }
            ]
        },
        "include": "tis-common.config",
        "name": "id:000015,sig:11,src:000347,op:ext_AO,pos:182",
        "val-args": " -l"
    },
    {
        "filesystem": {
            "files": [
                {
                    "from": "afl-out/crashes/id:000016,sig:11,src:000347,op:ext_AO,pos:198",
                    "name": "tis-mkfs-stdin"
                }
            ]
        },
        "include": "tis-common.config",
        "name": "id:000016,sig:11,src:000347,op:ext_AO,pos:198",
        "val-args": " -l"
    },
    {
        "filesystem": {
            "files": [
                {
                    "from": "afl-out/crashes/id:000017,sig:11,src:000399,op:ext_AO,pos:95",
                    "name": "tis-mkfs-stdin"
                }
            ]
        },
        "include": "tis-common.config",
        "name": "id:000017,sig:11,src:000399,op:ext_AO,pos:95",
        "val-args": " -l"
    },
    {
        "filesystem": {
            "files": [
                {
                    "from": "afl-out/crashes/id:000018,sig:11,src:000458,op:ext_AO,pos:290",
                    "name": "tis-mkfs-stdin"
                }
            ]
        },
        "include": "tis-common.config",
        "name": "id:000018,sig:11,src:000458,op:ext_AO,pos:290",
        "val-args": " -l"
    },
    {
        "filesystem": {
            "files": [
                {
                    "from": "afl-out/crashes/id:000019,sig:11,src:000458,op:ext_AO,pos:503",
                    "name": "tis-mkfs-stdin"
                }
            ]
        },
        "include": "tis-common.config",
        "name": "id:000019,sig:11,src:000458,op:ext_AO,pos:503",
        "val-args": " -l"
    },
    {
        "filesystem": {
            "files": [
                {
                    "from": "afl-out/crashes/id:000020,sig:11,src:000460,op:ext_AO,pos:290",
                    "name": "tis-mkfs-stdin"
                }
            ]
        },
        "include": "tis-common.config",
        "name": "id:000020,sig:11,src:000460,op:ext_AO,pos:290",
        "val-args": " -l"
    },
    {
        "filesystem": {
            "files": [
                {
                    "from": "afl-out/crashes/id:000021,sig:11,src:000460,op:ext_AO,pos:418",
                    "name": "tis-mkfs-stdin"
                }
            ]
        },
        "include": "tis-common.config",
        "name": "id:000021,sig:11,src:000460,op:ext_AO,pos:418",
        "val-args": " -l"
    },
    {
        "filesystem": {
            "files": [
                {
                    "from": "afl-out/crashes/id:000022,sig:11,src:000460,op:ext_AO,pos:503",
                    "name": "tis-mkfs-stdin"
                }
            ]
        },
        "include": "tis-common.config",
        "name": "id:000022,sig:11,src:000460,op:ext_AO,pos:503",
        "val-args": " -l"
    },
    {
        "filesystem": {
            "files": [
                {
                    "from": "afl-out/crashes/id:000023,sig:11,src:000476,op:ext_AO,pos:290",
                    "name": "tis-mkfs-stdin"
                }
            ]
        },
        "include": "tis-common.config",
        "name": "id:000023,sig:11,src:000476,op:ext_AO,pos:290",
        "val-args": " -l"
    },
    {
        "filesystem": {
            "files": [
                {
                    "from": "afl-out/crashes/README.txt",
                    "name": "tis-mkfs-stdin"
                }
            ]
        },
        "include": "tis-common.config",
        "name": "README",
        "val-args": " -l"
    }
]
