[
    {
        "filesystem": {
            "files": [
                {
                    "from": "Test/array.b",
                    "name": "tis-mkfs-stdin"
                }
            ]
        },
        "include": "tis-common.config",
        "name": "array",
        "val-args": " -l"
    },
    {
        "filesystem": {
            "files": [
                {
                    "from": "Test/arrayp.b",
                    "name": "tis-mkfs-stdin"
                }
            ]
        },
        "include": "tis-common.config",
        "name": "arrayp",
        "val-args": " -l"
    },
    {
        "filesystem": {
            "files": [
                {
                    "from": "Test/aryprm.b",
                    "name": "tis-mkfs-stdin"
                }
            ]
        },
        "include": "tis-common.config",
        "name": "aryprm",
        "val-args": " -l"
    },
    {
        "filesystem": {
            "files": [
                {
                    "from": "Test/atan.b",
                    "name": "tis-mkfs-stdin"
                }
            ]
        },
        "include": "tis-common.config",
        "name": "atan",
        "val-args": " -l"
    },
    {
        "filesystem": {
            "files": [
                {
                    "from": "Test/checklib.b",
                    "name": "tis-mkfs-stdin"
                }
            ]
        },
        "include": "tis-common.config",
        "name": "checklib",
        "val-args": " -l"
    },
    {
        "filesystem": {
            "files": [
                {
                    "from": "Test/div.b",
                    "name": "tis-mkfs-stdin"
                }
            ]
        },
        "include": "tis-common.config",
        "name": "div",
        "val-args": " -l"
    },
    {
        "filesystem": {
            "files": [
                {
                    "from": "Test/exp.b",
                    "name": "tis-mkfs-stdin"
                }
            ]
        },
        "include": "tis-common.config",
        "name": "exp",
        "val-args": " -l"
    },
    {
        "filesystem": {
            "files": [
                {
                    "from": "Test/fact.b",
                    "name": "tis-mkfs-stdin"
                }
            ]
        },
        "include": "tis-common.config",
        "name": "fact",
        "val-args": " -l"
    },
    {
        "filesystem": {
            "files": [
                {
                    "from": "Test/jn.b",
                    "name": "tis-mkfs-stdin"
                }
            ]
        },
        "include": "tis-common.config",
        "name": "jn",
        "val-args": " -l"
    },
    {
        "filesystem": {
            "files": [
                {
                    "from": "Test/ln.b",
                    "name": "tis-mkfs-stdin"
                }
            ]
        },
        "include": "tis-common.config",
        "name": "ln",
        "val-args": " -l"
    },
    {
        "filesystem": {
            "files": [
                {
                    "from": "Test/mul.b",
                    "name": "tis-mkfs-stdin"
                }
            ]
        },
        "include": "tis-common.config",
        "name": "mul",
        "val-args": " -l"
    },
    {
        "filesystem": {
            "files": [
                {
                    "from": "Test/raise.b",
                    "name": "tis-mkfs-stdin"
                }
            ]
        },
        "include": "tis-common.config",
        "name": "raise",
        "val-args": " -l"
    },
    {
        "filesystem": {
            "files": [
                {
                    "from": "Test/sine.b",
                    "name": "tis-mkfs-stdin"
                }
            ]
        },
        "include": "tis-common.config",
        "name": "sine",
        "val-args": " -l"
    },
    {
        "filesystem": {
            "files": [
                {
                    "from": "Test/sqrt1.b",
                    "name": "tis-mkfs-stdin"
                }
            ]
        },
        "include": "tis-common.config",
        "name": "sqrt1",
        "val-args": " -l"
    },
    {
        "filesystem": {
            "files": [
                {
                    "from": "Test/sqrt2.b",
                    "name": "tis-mkfs-stdin"
                }
            ]
        },
        "include": "tis-common.config",
        "name": "sqrt2",
        "val-args": " -l"
    },
    {
        "filesystem": {
            "files": [
                {
                    "from": "Test/sqrt.b",
                    "name": "tis-mkfs-stdin"
                }
            ]
        },
        "include": "tis-common.config",
        "name": "sqrt",
        "val-args": " -l"
    },
    {
        "filesystem": {
            "files": [
                {
                    "from": "Test/testfn.b",
                    "name": "tis-mkfs-stdin"
                }
            ]
        },
        "include": "tis-common.config",
        "name": "testfn",
        "val-args": " -l"
    }
]
